# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://-----------.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=ey-------------------------------.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtsam5oa2d3ZHhzcGJoamZzdnNlIiwicm9sZSI6ImFub25fbW9kZSIsImlhdCI6MTc3NjU2OTU5NywiZXhwIjoyMDkyMTQ1NTk3fQ.------------------------------
SUPABASE_SERVICE_ROLE_KEY=ey--------------------------------.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtsam5oa2d3ZHhzcGJoamZzdnNlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjU2OTU5NywiZXhwIjoyMDkyMTQ1NTk3fQ.------------------------------