# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://kljnhkgwdxspbhjfsvse.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtsam5oa2d3ZHhzcGJoamZzdnNlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1Njk1OTcsImV4cCI6MjA5MjE0NTU5N30.LTdfV5n6VPxnukfmcrhuZDDpuUi1QdDvnkhawORkoPk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtsam5oa2d3ZHhzcGJoamZzdnNlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjU2OTU5NywiZXhwIjoyMDkyMTQ1NTk3fQ.GMSQn_LFaXlersmyWldeilIT5q74VPZ7r85wrvnBJWw